body {
    background-color: #ffffff;
    padding: 13px 20px 0px 20px;
    font: 15px 'SFNSText', 'Helvetica Neue', Helvetica, sans-serif;
    font-weight: 400;
    line-height: 1.5;
    margin: 0px;
    /*overflow: hidden;*/
    word-wrap: break-word;
}
blockquote {
    text-align: left !important;
    margin-top: 0;
    margin-bottom: 20px;
    border-left: solid 2px #000000;
    padding-left: 10px;
    font-style: italic;
}
pre {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    white-space: pre-wrap !important;
    word-wrap: normal !important;
    font-size: 15px;
}
hr {
    margin-top: 25px;
    margin-right: auto;
    margin-bottom: 25px;
    margin-left: auto;
    border: 1px solid #e5e5e5;
    border-bottom: none;
}

a {
    color: #DA2E75;
}
@media only screen and (max-width: 650px) {
    .email {
        width: 100% !important;
        padding-top: 20px !important;
        padding-right: 10px !important;
        padding-bottom: 20px !important;
        padding-left: 10px !important;
        border-width: 0 !important;
    }
}
@media all and (max-width: 500px) {
    .email {
        width: 100% !important;
    }
}

h1 {
    text-align: left !important;
    font-family: Georgia, Cambria, "Times New Roman", Times, serif;
    font-size: 32px;
    font-weight: 300;
    line-height: 36px;
    margin-bottom: 20px;
}
h2 {
    text-align: left !important;
    font-weight: 300;
    font-size: 26px;
    line-height: 32px;
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", sans-serif;
    color: #b3b3b1;
}

ol li, ul li {
    text-align: left !important;
    margin-bottom: 10px;
}

/* Custom */
/* Make something awesome! */

/* -- color scheme 
@brand-primary:           #DA2E75

@gray-darker:             lighten(@gray-base, 13.5%)  // #222222
@gray-dark:               lighten(@gray-base, 20%)    // #333333
@gray:                    lighten(@gray-base, 33.5%)  // #555555
@gray-light:              lighten(@gray-base, 46.7%)  // #777777
@gray-lighter:            lighten(@gray-base, 93.5%)  // #eeeeee
// f9f9f9
*/

img {
    border: 0;
    /*height: auto;*/
    line-height: 100%;
    outline: none;
    text-decoration: none;

    max-width: 100% !important;
    /*width: 100% !important;*/
    /*height: auto !important;*/

    display: block;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
}

.email {
    width: 600px;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    padding-top: 40px;
    padding-right: 20px;
    padding-bottom: 40px;
    padding-left: 20px;
    color: #333332;
    line-height: 1.4;
    font-size: 16px;
    font-weight: 400;
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", sans-serif;
}
@media only screen and (max-width: 650px) {
    .email {
        width: 100% !important;
        padding-top: 20px !important;
        padding-right: 10px !important;
        padding-bottom: 20px !important;
        padding-left: 10px !important;
        border-width: 0 !important;
    }
}
@media all and (max-width: 500px) {
    .email {
        width: 100% !important;
    }
}

.email-footer {
    padding-top: 15px;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    margin-top: 50px;
    color: #b3b3b1;
    font-size: 12px;
    text-align: center;
    border-top: 1px solid #e5e5e5;
}
.email-footer a {
    color: #b3b3b1;
}

.avatar {
    /*display: inline-block !important;*/
    float: none !important;
    vertical-align: middle;
    width: 75px;
    height: 75px;
    border-radius: 0;
    background: #f0f0f0;
    line-height: 0;
    /*margin-right: 10px;*/
}