<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{ page.title }}</title>

        <link rel="stylesheet" type="text/css" href="http://{{ site.github.username }}.github.io{{ site.baseurl }}/stylesheets/email.css">
        <!-- Debug email.css -->
        <!-- <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/stylesheets/email.css"> -->

        <!--[if gte mso 9]>
            <style>
                /* Target Outlook 2007 and 2010 */
            </style>
        <![endif]-->
    </head>
     
    <body>
        <table class="email">
            <tbody>
                <tr>
                    <td>
                        {% if page.include == 'footer' %}
                            <a href="{_app_base_url}">
                                <img class="avatar" src="https://s3.amazonaws.com/trolley/attachments/20160927-080930_Untitled-1-01.png">
                            </a>
                            <h1>{{ page.title }}</h1>
                        {% endif %}

                        {{ content }}
                    </td>
                </tr>

                {% if page.include == 'footer' %}
                <tr>
                    <td>
                    {% include email-footer.html %}
                    </td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </body>
</html>